@font-face {
  font-family: font1;
  src: url('/fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff2') format('woff2'),
       url('/fonts/cabinet-grotesk/CabinetGrotesk-Regular.woff') format('woff');
}
@font-face {
  font-family: font2;
  src: url('/fonts/satoshi/Satoshi-Light.woff2') format('woff2'),
       url('/fonts/satoshi/Satoshi-Light.woff') format('woff');
}
@font-face {
  font-family: font3;
  src: url('/fonts/Higuen Serif.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
body{
  background-color: rgb(20, 20, 20);
  color: aliceblue;
}
.font3{
  font-family: font3;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.font1{
  font-family: font1;
  font-weight: 300;
  letter-spacing: 0.5px;
}
.upper{
  text-transform: uppercase;
}
.font2, label{
  font-family: font2;
  font-weight: 700;
  letter-spacing: 1px;
}
.font3{
  font-size: 2.5rem;
  margin-bottom: 6px;
}
.font1 span,.font3 span,.text-bg{
  background: linear-gradient(90deg, #e4c136, rgb(184, 142, 35)); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg{
  background: linear-gradient(90deg, #facc15, #ea6208);
}

@media (max-width: 430px) {
  .font1{
    font-size: 1.2rem;
  }
}