.services{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.services-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  width:  25rem;
  background-color: #0000006e;
  background: linear-gradient(to right, #0000006e 60%, #00000000 100%);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  gap:3px;
  margin:10px 25px;
  cursor: pointer;
}
.services-card-img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    border-radius: 15px;
}
.services-card:hover{
  background: linear-gradient(to bottom, #0000006e 60%, #00000000 100%);
  background-color: #0000006e;
}
.services-card:hover img{
  transform: scale(1.025);
  transition: all ease 0.5s;
}
.services-card-icon{
    width: 30px;
    height: 30px;
    margin: 15px 0px;
}
.service-icon-flex{
  display: flex;
  align-items: center;
  gap:10px;
}
.services-card-h1 {
  font-size: 24px;
}